// app global css in SCSS form
// @font-face {
//   font-family: 'Noto Serif';
//   src: url(./fonts/NotoSerif-Regular.ttf);
// }

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital@0;1&family=Lobster+Two&family=Montserrat+Alternates:wght@300&family=Mulish:ital,wght@0,400;0,500;1,400;1,500&family=Roboto+Flex:wght@200;300;400&family=Roboto+Slab:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

.text-accent-light {
  color: $accent-light !important;
}
.bg-accent-light {
  background: $accent-light !important;
}
.text-accent-contrast {
  color: $accent-contrast !important;
}
.bg-accent-contrast {
  background: $accent-contrast !important;
}

.text-positive-pastel {
  color: $positive-pastel !important;
}
.bg-positive-pastel {
  background: $positive-pastel !important;
}
.text-negative-pastel {
  color: $negative-pastel !important;
}
.bg-negative-pastel {
  background: $negative-pastel !important;
}
.text-dark {
  color: $dark !important;
}
.bg-dark {
  background: $dark !important;
}
.text-contrast {
  color: $contrast !important;
}
.bg-contrast {
  background: $contrast !important;
}
.text-primary-light {
  color: $primary-light !important;
}
.bg-primary-light {
  background: $primary-light !important;
}
.text-contrast-light {
  color: $contrast-light !important;
}
.bg-contrast-light {
  background: $contrast-light !important;
}
.text-secondary-light {
  color: $secondary-light !important;
}
.bg-secondary-light {
  background: $secondary-light !important;
}
.text-categoria-light {
  color: $categoria-light !important;
}
.bg-categoria-light {
  background: $categoria-light !important;
}
.text-categoria {
  color: $categoria !important;
}
.bg-categoria {
  background: $categoria !important;
}
.text-toolbar-button {
  color: $toolbar-button !important;
}
.bg-toolbar-button {
  background: $toolbar-button !important;
}
.text-primary-button {
  color: $primary-button !important;
}
.bg-primary-button {
  background: $primary-button !important;
}
.text-main-menu {
  color: $main-menu !important;
}
.bg-main-menu {
  background: $main-menu !important;
}
.text-primary-grey {
  color: $primary-grey !important;
}
.bg-primary-grey {
  background: $primary-grey !important;
}
.text-disable-button {
  color: $disable-button !important;
}
.bg-disable-button {
  background: $disable-button !important;
}
.text-more-button {
  color: $more-button !important;
}
.bg-more-button {
  background: $more-button !important;
}
.text-table-title {
  color: $table-title !important;
}
.bg-table-title {
  background: $table-title !important;
}
.text-accent-title {
  color: $accent-title !important;
}
.bg-accent-title {
  background: $accent-title !important;
}
.text-credit-card {
  color: $credit-card !important;
}
.bg-credit-card {
  background: $credit-card !important;
}
/* *************************** */
.dialog__title--closeButton {
  opacity: 0.5;
  &:hover {
    opacity: 1;
    color: white !important;
  }
}
.dialog__title--name {
  font-size: 1.05rem !important;
  font-weight: 500;
  color: $accent-light !important;
  letter-spacing: -0.025rem;
}

.btn-add {
  cursor: pointer;
  color: $toolbar-button;
  padding: 2px;
  font-size: 1.8rem;
  opacity: 1;
  // border: 0px solid white;
  background-color: color-mix(in srgb, $primary-button 5%, white 40%);
  color: $toolbar-button !important;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 5px;
  // padding: 0px 10px;
  &:hover {
    opacity: 1;
    filter: brightness(0.85);
    // border: 1px solid $toolbar-button;
    // border-radius: 15px;
    transition: all 0.3s ease;
    background-color: color-mix(in srgb, $toolbar-button 10%, white 70%);
  }
  &:active {
    translate: 1px 1px;
    transition: all 0.3s ease;
  }
}

.tarjeta__cuenta {
  // border: 1px solid white !important;
  &:hover {
    // border: 1px solid red !important;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transform: translate(-1px, -2px);
    transition: all 0.25s;
  }
}

/* ********************************************* */
