//
// Letra principal
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

// Letra de los breadcrums
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');

// Letra para números
// @import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap');

.text-accent-light {
  color: $accent-light !important;
}
.bg-accent-light {
  background: $accent-light !important;
}
.text-accent-contrast {
  color: $accent-contrast !important;
}
.bg-accent-contrast {
  background: $accent-contrast !important;
}

.text-positive-pastel {
  color: $positive-pastel !important;
}
.bg-positive-pastel {
  background: $positive-pastel !important;
}
.text-negative-pastel {
  color: $negative-pastel !important;
}
.bg-negative-pastel {
  background: $negative-pastel !important;
}
.text-dark {
  color: $dark !important;
}
.bg-dark {
  background: $dark !important;
}
.text-contrast {
  color: $contrast !important;
}
.bg-contrast {
  background: $contrast !important;
}
.text-primary-light {
  color: $primary-light !important;
}
.bg-primary-light {
  background: $primary-light !important;
}
.text-contrast-light {
  color: $contrast-light !important;
}
.bg-contrast-light {
  background: $contrast-light !important;
}
.text-secondary-light {
  color: $secondary-light !important;
}
.bg-secondary-light {
  background: $secondary-light !important;
}
.text-categoria-light {
  color: $categoria-light !important;
}
.bg-categoria-light {
  background: $categoria-light !important;
}
.text-categoria {
  color: $categoria !important;
}
.bg-categoria {
  background: $categoria !important;
}
.text-toolbar-button {
  color: $toolbar-button !important;
}
.bg-toolbar-button {
  background: $toolbar-button !important;
}
.text-primary-button {
  color: $primary-button !important;
}
.bg-primary-button {
  background: $primary-button !important;
}
.text-secondary-button {
  color: $secondary-button !important;
}
.bg-secondary-button {
  background: $secondary-button !important;
}
.text-main-menu {
  color: $main-menu !important;
}
.bg-main-menu {
  background: $main-menu !important;
}
.text-primary-grey {
  color: $primary-grey !important;
}
.bg-primary-grey {
  background: $primary-grey !important;
}
.text-disable-button {
  color: $disable-button !important;
}
.bg-disable-button {
  background: $disable-button !important;
}
.text-more-button {
  color: $more-button !important;
}
.bg-more-button {
  background: $more-button !important;
}
.text-table-title {
  color: $table-title !important;
}
.bg-table-title {
  background: $table-title !important;
}
.text-accent-title {
  color: $accent-title !important;
}
.bg-accent-title {
  background: $accent-title !important;
}
.text-credit-card {
  color: $credit-card !important;
}
.bg-credit-card {
  background: $credit-card !important;
}
.text-toggle-button {
  color: $toggle-button !important;
}
.bg-toggle-button {
  background: $toggle-button !important;
}
.text-main-background {
  color: $main-background !important;
}
.bg-main-background {
  background: $main-background !important;
}
.text-table-summary {
  color: $table-summary !important;
}
.bg-table-summary {
  background: $table-summary !important;
}
/* *************************** */
.dialog__title--closeButton {
  opacity: 0.8;
  color: $accent-light;
  background: lighten($color: $negative-pastel, $amount: 10);
  font-size: 0.6rem;
  &:hover {
    opacity: 1;
    color: white !important;
    background: lighten($color: $negative-pastel, $amount: 5);
    // transform: translate(1px, -9px);
    transition: all 0.05 ease;
  }
}

.dialog__title--name {
  font-size: 1rem !important;
  font-weight: 700;
  color: $accent !important;
  letter-spacing: -0.025rem;
  padding: 4px 10px 15px 15px;
}
.dialog-title {
  /*padding: 10px 10px 30px 15px;*/
  background: hsl(240, 17%, 95%);
  height: 55px !important;
  // &::after {
  //   content: '';
  //   background: rgb(217, 217, 219);
  //   width: 100%;
  //   height: 1px;
  //   position: absolute;
  //   top: 40px;
  //   left: 0;
  // }
}

.btn-add {
  cursor: pointer;
  color: $toolbar-button;
  padding: 2px;
  font-size: 1.8rem;
  opacity: 1;
  // border: 0px solid white;
  background-color: color-mix(in srgb, $primary-button 5%, white 40%);
  color: $toolbar-button !important;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 5px;
  // padding: 0px 10px;
  &:hover {
    opacity: 1;
    filter: brightness(0.85);
    // border: 1px solid $toolbar-button;
    // border-radius: 15px;
    transition: all 0.3s ease;
    background-color: color-mix(in srgb, $toolbar-button 10%, white 70%);
  }
  &:active {
    translate: 1px 1px;
    transition: all 0.3s ease;
  }
}

.tarjeta__cuenta {
  width: 390px;
  min-width: 340px;
  // border: 1px solid white !important;
  // background: #f2f2f2;
  box-shadow: rgba(206, 207, 209, 0.568) 1px 1px 26px,
    rgba(195, 198, 202, 0.678) 1px 1px 3px;
  border-radius: 20px;
  // background: linear-gradient(to right top, #1b2327, #345263);
  background: url('../images/back_card7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  opacity: 0.9;

  &:hover {
    box-shadow: rgba(104, 102, 102, 0.76) 5px 14px 28px,
      rgba(105, 102, 102, 0.74) 5px 10px 10px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform: translateZ(0) scale(1, 1);
    // background: linear-gradient(to right bottom, #260564, #8d16a5);
    transform: translate(-1px, -2px);
    transition: all 0.25s;
    opacity: 1;
  }

  /*&-avatar {
    background: $main-background;
    &::hover {
      background: white;
    }
  }*/
}
.cuenta__card-main {
  width: 350px;
  min-width: 340px;
  background: #f2f2f2;
  box-shadow: rgba(206, 207, 209, 0.568) 1px 1px 26px,
    rgba(195, 198, 202, 0.678) 1px 1px 3px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(104, 102, 102, 0.76) 5px 14px 28px,
      rgba(105, 102, 102, 0.74) 5px 10px 10px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform: translateZ(0) scale(1, 1);
    background: #ffffff;
    transform: translate(-1px, -2px);
    transition: all 0.25s;
  }
}

/* ********************************************* */
.breadcrum-component {
  font-family: 'Raleway', sans-serif;
  font-feature-settings: 'lnum';
  text-rendering: optimizeLegibility !important;
  font-size: 0.85rem !important;
  color: $breadcrum !important;
  font-weight: 300;

  &:active {
    font-size: 1.2rem;
  }
}

.page-title {
  letter-spacing: -0.0025rem !important;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: $accent-title;
}
/* *********************************************** */
.main-content {
  padding-left: 36px;
  padding-right: 36px;
}
.cuenta-content {
  position: relative;
  z-index: 1;
  padding: 32px 16px 24px 16px;
  background-color: white;
  border: 1px solid #b2bdb6;
  border-radius: 5px;
  overflow: hidden;

  &::before {
    background-color: #929fb1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 8px;
  }
}

/* ***************************************** */
.load__file-text {
  color: lighten($color: $accent, $amount: 30%);
  font-weight: 600;
  font-size: 0.75rem;
}

/* ************************************ */
.tarjeta__resumen-etiqueta {
  letter-spacing: -0.025rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: #686666;
}
.tarjeta__resumen-valor {
  font-family: 'Cousine', monospace;
  font-size: 0.85rem;
  font-weight: 400;
  letter-spacing: -0.025rem;
  color: #813333;
  &-importante {
    font-family: 'Cousine', monospace;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: -0.035rem;
    color: #476d59 !important;
  }
}
/* *********************************** */
.more-button {
  font-size: 0.85rem;
  color: $more-button;
  &:hover {
    background: rgba(244, 245, 247, 0.432) !important;
  }
}
/* ************************************** */
.addNew-button {
  opacity: 0.3;
  color: $secondary-button;
  background: lighten($color: $toolbar-button, $amount: 15);
  font-size: 0.7rem;
  padding-inline: 10px;
  letter-spacing: -0.0025rem;
  margin: 2px 2px 2px 2px;
  &:hover {
    opacity: 0.8;
    //color: $secondary !important;
    background: lighten($color: $secondary, $amount: 1);
    transition: all 0.05 ease;
    cursor: pointer;
  }
  i {
    margin-right: 0px;
  }
}
/******************************* */
.cuenta__title {
  letter-spacing: -0.025rem !important;
  font-size: 1.2rem;
  font-weight: 600;
}

/* ************************************* */
.form-input__label {
  font-family: 'DM Sans', sans-serif;
  color: $input-label;
  font-size: 0.85rem !important;
  letter-spacing: -0.0025rem;
  font-weight: 500;
}

/***************************************** */
.errors-message {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  width: 98%;
  box-shadow: rgba(124, 113, 113, 0.76) 5px 14px 28px,
    rgba(112, 93, 93, 0.74) 5px 10px 10px;

  &__closeBtn {
    font-size: 0.6rem;
    margin-left: 20px;
  }
  &__title {
    font-weight: 600;
    color: $negative-pastel;
    font-size: 0.85rem;
    padding-top: 20px;
  }
  &__item {
    font-size: 0.8rem !important;
    margin-top: 0px;
    padding-bottom: 1px;
    color: lighten($color: $negative, $amount: 25);
    min-height: 25px !important;
  }
}

/* ******************************************************* */
.table-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-feature-settings: 'lnum';
  font-size: 1rem;
  color: #6181aa;
  letter-spacing: -0.025rem;
}

/*********************************************** */

.fade-enter-from {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}
.fade-enter-active {
  transition: all 2s ease;
}
.fade-leave-from {
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}
.fade-leave-active {
  transition: all 0.5s ease-out;
}
