// app global css in SCSS form
// @font-face {
//   font-family: 'Noto Serif';
//   src: url(./fonts/NotoSerif-Regular.ttf);
// }

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital@0;1&family=Lobster+Two&family=Montserrat+Alternates:wght@300&family=Mulish:ital,wght@0,400;0,500;1,400;1,500&family=Roboto+Flex:wght@200;300;400&family=Roboto+Slab:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

.text-accent-light {
  color: $accent-light !important;
}
.bg-accent-light {
  background: $accent-light !important;
}
.text-accent-contrast {
  color: $accent-contrast !important;
}
.bg-accent-contrast {
  background: $accent-contrast !important;
}

.text-positive-pastel {
  color: $positive-pastel !important;
}
.bg-positive-pastel {
  background: $positive-pastel !important;
}
.text-negative-pastel {
  color: $negative-pastel !important;
}
.bg-negative-pastel {
  background: $negative-pastel !important;
}
.text-dark {
  color: $dark !important;
}
.bg-dark {
  background: $dark !important;
}
.text-contrast {
  color: $contrast !important;
}
.bg-contrast {
  background: $contrast !important;
}
.text-primary-light {
  color: $primary-light !important;
}
.bg-primary-light {
  background: $primary-light !important;
}
.text-contrast-light {
  color: $contrast-light !important;
}
.bg-contrast-light {
  background: $contrast-light !important;
}
.text-secondary-light {
  color: $secondary-light !important;
}
.bg-secondary-light {
  background: $secondary-light !important;
}
.text-categoria-light {
  color: $categoria-light !important;
}
.bg-categoria-light {
  background: $categoria-light !important;
}
.text-categoria {
  color: $categoria !important;
}
.bg-categoria {
  background: $categoria !important;
}
.text-toolbar-button {
  color: $toolbar-button !important;
}
.bg-toolbar-button {
  background: $toolbar-button !important;
}

.text-main-menu {
  color: $main-menu !important;
}
.bg-main-menu {
  background: $main-menu !important;
}
