// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

/************************** correct ****************** */

$primary: #292961;
$secondary: #469f49;
$accent: #d5d3db;
$dark: #30005a;

$positive: #79920b;
$negative: #c10015;
$info: #1c5685;
$warning: #ecd13b;

$primary-light: #f5f5fd;
$secondary-light: #fdbf8b;
$contrast: #fcb227;
$contrast-light: #2f4211;

$accent-light: #e9e8f0;
$accent-contrast: #e4f599;
$positive-pastel: #34b47a;
$negative-pastel: #f43737;

$categoria: #541364;
$categoria-light: #d9e4ee;
$table-header: #dfe5e9;
$table-title: #8f88a3;

$categoria-title-light: #aebbc7;

$primary-grey: #9898a8;

$primary-button: #4767b0;
$toolbar-button: #4b9972;
$disable-button: #e7e7e7;
$main-menu: #45494d;
$more-button: #8f88a3;
$accent-title: #705404;
$credit-card: #fcf5fb;
/* ***************************GREEN ********************** */
// $primary: #3d6129;
// $secondary: #469f49;
// $accent: #d5d3db;
// $dark: #30005a;

// $positive: #79920b;
// $negative: #c10015;
// $info: #1c5685;
// $warning: #ecd13b;

// $primary-light: #f9faf6;
// $secondary-light: #fdbf8b;
// $contrast: #fcb227;
// $contrast-light: #2f4211;

// $accent-light: #e9e8f0;
// $accent-contrast: #e4f599;
// $positive-pastel: #34b47a;
// $negative-pastel: #f43737;

// $categoria: #541364;
// $categoria-light: #d9e4ee;
// $table-header: #dfe5e9;
// $table-title: #8f88a3;

// $categoria-title-light: #aebbc7;

// $primary-grey: #9898a8;

// $primary-button: #88b047;
// $toolbar-button: #4b9972;
// $disable-button: #e7e7e7;
// $main-menu: #534f53;
// $more-button: #8f88a3;
