// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

/************************** correct ****************** */

// $primary: #023545;
$primary: #292961;
$secondary: #ff7708;
// $accent: #2d5966;
$accent: #ccc9d7;
$dark: #09163b;

$positive: #79920b;
$negative: #c10015;
$info: #4d83af;
$warning: #ecd13b;

$primary-light: #f6f8fa;
$secondary-light: #fdbf8b;
$contrast: #fcb227;
$contrast-light: #2f4211;

$accent-light: #cfecf5;
$accent-contrast: #e4f599;
$positive-pastel: #34b47a;
$negative-pastel: #f43737;

$categoria: #c2d0d1;
$categoria-light: #d9e4ee;
$table-header: #dfe5e9;

$categoria-title-light: #aebbc7;

$toolbar-button: #2e86de;
$main-menu: #585864;
/* ***************************GREEN ********************** */

// $primary: #b9d47a;
// $secondary: #b65514;
// $accent: #2d5966;
// $dark: #333b09;

// $positive: #79920b;
// $negative: #c10015;
// $info: #4d83af;
// $warning: #ecd13b;

// $primary-light: #f6faf8;
// $secondary-light: #f4f7f2;
// $contrast: #fcb227;
// $contrast-light: #2f4211;

// $accent-light: #c8d7ca;
// $accent-contrast: #e4f599;
// $positive-pastel: #34b47a;
// $negative-pastel: #f43737;

// $categoria-light: #d9e4ee;

// $table-header: #e2e9df;
