// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

/************************** correct ****************** */
$primary: #263238;
// $primary: #292961;
$secondary: #eb7e1f;
$accent: #404b5a;
$dark: #30005a;

$positive: #689f38;
$negative: #c10015;
$info: #1c5685;
$warning: #ecd13b;

// $primary-text: darken ($primary, 50%);
$primary-text: lighten ($primary, 90%);
$primary-icon: darken ($primary, 90%);
$primary-light: #f2f2f2;
$secondary-light: #fdbf8b;
$contrast: #c4943a;
$contrast-light: #2f4211;

$accent-light: #e9e8f0;
$accent-contrast: #e4f599;
$positive-pastel: #34b47a;
$negative-pastel: #f43737;

$categoria: #541364;
$categoria-light: #d9e4ee;
$table-header: #dfe5e9;
$table-title: #8f88a3;

$categoria-title-light: #aebbc7;

$primary-grey: #a3a3a8;

$primary-button: #00838f; //Utilizado en itop
$secondary-button: #2c5382;
/*$primary-button: #00AAC1;*/
// $toggle-button: #4b9972;
// $toggle-button: #b4d9df;
$toggle-button: #cae2d5;
$toolbar-button: #4b9972;
$disable-button: #e7e7e7;
$main-menu: #d5dde5;
$more-button: #8f88a3;
$accent-title: #7a8391;
$credit-card: #f2f2f2;

$breadcrum: #ae6449;
$main-background: #f2f2f2;

$table-summary: #f9f0fd5b;

/************************** other ****************** */
// https://hookagency.com/blog/website-color-schemes-2020/

// $primary: #845883;
// $secondary: #a0d2eb;
// $accent: #e5eaf5;
// $dark: #494d5f;

// $positive: #79920b;
// $negative: #c10015;
// $info: #1c5685;
// $warning: #ecd13b;

// $primary-text: #a871a7;
// $primary-light: #f5f5fd;
// $secondary-light: #fdbf8b;
// $contrast: #fcb227;
// $contrast-light: #2f4211;

// $accent-light: #e9e8f0;
// $accent-contrast: #e4f599;
// $positive-pastel: #34b47a;
// $negative-pastel: #f43737;

// $categoria: #541364;
// $categoria-light: #d9e4ee;
// $table-header: #dfe5e9;
// $table-title: #8f88a3;

// // $categoria-title: #705404;
// $categoria-title: #f75990;
// $categoria-title-light: #aebbc7;

// $primary-grey: #9898a8;

// $primary-button: #4767b0;
// $toolbar-button: #4b9972;
// $disable-button: #e7e7e7;
// $main-menu: #45494d;
// $more-button: #8f88a3;
// $accent-title: #705404;
// $credit-card: #fcf5fb;
